*.a
/autom4te.cache
/config.h
/config.h.in~
/config.log
/config.status
.deps
*.la
.libs
/libtool
*.lo
Makefile
*.o
*.pyc
/src/havenctl/build
/src/havenctl/dist
/src/havenctl/havenctl.egg-info
/src/havend/havend
!/src/havend/task/Makefile
/src/havend/task/primes
/src/havend/task/tcpproxy
/src/havend/task/testdelay
stamp-h1
